## Deliverable 3. Create a Travel Itinerary Map.

In [64]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [65]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Hobart,AU,73.06,clear sky,-42.8794,147.3294,Mantra on Collins Hobart
1,2,Cape Town,ZA,70.12,clear sky,-33.9258,18.4232,Southern Sun Waterfront Cape Town
2,3,Champerico,GT,81.36,scattered clouds,14.3000,-91.9167,"Hotel y restaurante ""El Diamante"""
3,4,Inirida,CO,74.14,broken clouds,3.8653,-67.9239,Fuente del Guania Hotel de Lujo
4,5,Villarrica,PY,70.74,overcast clouds,-25.7500,-56.4333,Mansión Reljuv Tours SA

In [66]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [67]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [68]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

start_df = vacation_df.loc[vacation_df["City"]=="Labuhan"]
end_df = vacation_df.loc[vacation_df["City"]=="Labuhan"]
stop_one_df = vacation_df.loc[vacation_df["City"]=="Boyolangu"]
stop_two_df = vacation_df.loc[vacation_df["City"]=="Bambanglipuro"] 
stop_three_df = vacation_df.loc[vacation_df["City"]=="Kawalu"]

In [69]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = start_df["Lat"].to_numpy()[0], start_df["Lng"].to_numpy()[0]
end = end_df["Lat"].to_numpy()[0], end_df["Lng"].to_numpy()[0]
stop1 = stop_one_df["Lat"].to_numpy()[0], stop_one_df["Lng"].to_numpy()[0]
stop2 = stop_two_df["Lat"].to_numpy()[0], stop_two_df["Lng"].to_numpy()[0]
stop3 = stop_three_df["Lat"].to_numpy()[0], stop_three_df["Lng"].to_numpy()[0]

In [70]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
id_itinerary_df = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode="DRIVING")
fig.add_layer(id_itinerary_df)
fig

Figure(layout=FigureLayout(height='420px'))

In [71]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([start_df, stop_one_df, stop_two_df, stop_three_df, end_df],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,410,Labuhan,ID,82.49,broken clouds,-6.8844,112.2051,DoubleFAG
1,534,Boyolangu,ID,83.86,few clouds,-8.1181,111.8935,Yos ega cv
2,657,Bambanglipuro,ID,69.60,scattered clouds,-7.9500,110.2833,Puri Brata
3,401,Kawalu,ID,80.71,broken clouds,-7.3817,108.2082,KOSAN UNGU UNSIK
4,410,Labuhan,ID,82.49,broken clouds,-6.8844,112.2051,DoubleFAG

In [72]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [59]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))